@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

a{
    text-decoration: none;
}

body{
    background-color: #8dd8e3;
}

.nav-item .nav-link{
    font-weight: 600;
    color: #111;
}



.hero{
    background-color: #8dd8e3;
}

header{
    background-color: var(--green);
}

header .navbar-brand{
    font-size: 22px;
    font-weight: 600;
}


.feature-product h2{
    color: #111;
    font-weight: 600;
    border-color: var(--green);
}

.page-footer{
    background-color: var(--green);
    font-size: 18px;
    font-weight: 500;
}

.page-footer a{
    color: #111;
}
.feature-product{
    overflow-x: hidden;
}