{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{book.name}}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-2 mb-5">
        <div class="col-lg-4 col-4">
            <img src="{{book.image.url}}" class="img-fluid" alt="">
        </div>
        <div class="col-8">
            <h3>{{book.name}}</h3>
            <p>RS.{{book.price}}</p>
            <p>Author: {{book.author}}</p>
            <p>Publisher: {{book.publication}}</p>
            <p>Edition: {{book.edition}}</p>
            <p>Published date: {{book.published_date}}</p>
            <p>Updated date: {{book.update_date}}</p>
            <form action="{% url "cart:cart_add" book.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Add to cart">
            </form>
        </div>
    
    </div>
    <div class="row">
        <div class="header text-center px-3">
            <h4 class="border-bottom border-success border-3">Short description</h4>
        </div>
        <p>{{book.desc}}</p>
    </div>
</div>
{% endblock content %}