{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Category</title>
{% endblock title %}

{% block content %}
<div class="row m-auto hero">
    <div class="col-lg-3 col-3">
        <ul class="list-group">
            <li class="list-group-item"><h4>Category</h3></li>
            {% for cat in categories %}
            <li class="list-group-item"><a href="{{cat.get_absolute_url}}" class="nav-link">{{cat.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-9 col-lg-9">
        <div class="row px-2">
            {% for book in books %}
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card" style="width: 20rem;">
                        <a href="{{book.get_absolute_url}}"><img src="{{book.image.url}}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                          <h5 class="card-title">{{book.name}}</h5>
                          <p class="card-text">RS.{{book.price}}</p>
                          <form action="{% url "cart:cart_add" book.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" value="Add to cart">
                            </form>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}