{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
  <!-- nav -->
  <div class="row m-auto hero mt-1">
    <div class="col-lg-4 col-12">
        <ul class="list-group">
            <li class="list-group-item"><h4>Category</h3></li>
            {% for cat in category %}
            <li class="list-group-item"><a href="{{cat.get_absolute_url}}" class="nav-link">{{cat.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-lg-8">
        <div class="banner">
            <img src="{% static 'assets/image/banner/banner.jpg' %}" class="img-fluid" alt="...">
        </div>
    </div>
</div>
<!-- nav -->


<!-- feature product -->
<div class="feature-product py-2 mt-3">
    
        <div>
            <h2 class="text-center border-bottom border-success border-3 py-1">
            Latest Product
            </h2>
        </div>
        <div class="row px-2">
            {% for book in books %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card" style="width: 20rem;">
                        <a href="{{book.get_absolute_url}}"><img src="{{book.image.url}}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                          <h5 class="card-title">{{book.name}}</h5>
                          <p class="card-text">RS.{{book.price}}</p>
                          <form action="{% url "cart:cart_add" book.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" value="Add to cart">
                           </form>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    
</div>
<!-- feature product -->


{% endblock content %}